In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
C:\Users\anshul\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
train = pd.read_csv("./Dataset/Train.csv")
test = pd.read_csv("./Dataset/Test.csv")

In [3]:
#AGE

data = [train , test]
for d in data:
    mean = train.Age.mean()
    std = train.Age.std()
    
    age_count = d.Age.isnull().sum()
    rand_age = np.random.randint(mean-std , mean+std , age_count)
    
    age_col = d.Age.copy()
    age_col[np.isnan(age_col)] = rand_age
    
    d.Age = age_col
    d.Age = d.Age.astype(int)

In [4]:
#Age Category

dataset = [train , test]
for data in dataset:
    data.loc[data.Age <= 25 , 'Age'] = 0
    data.loc[(data.Age > 25) & (data.Age <= 35) , 'Age'] = 1
    data.loc[(data.Age > 35) & (data.Age <= 45) , 'Age'] = 2
    data.loc[(data.Age > 45) & (data.Age <= 55) , 'Age'] = 3
    data.loc[data.Age > 55 , 'Age'] = 4
    data.Age = data.Age.astype(int)

In [5]:
#Gender
gender_map = {'M':1 , 'F':0}
for data in dataset:
    data.Gender = data.Gender.map(gender_map)
    data.Gender = data.Gender.astype(int)

In [6]:
#Relationship_status
relation_map = {'Married':1 , 'Single':0}
for data in dataset:
    data.Relationship_Status = data.Relationship_Status.map(relation_map)
    data.Relationship_Status = data.Relationship_Status.astype(int)

In [7]:
#Hometown
home_map = {'Franklin':0, 'Springfield':1, 'Clinton':2, 'Lebanon':3, 'Washington':4}

for data in dataset:
    data.Hometown = data.Hometown.map(home_map)
    data.Hometown = data.Hometown.astype(int)

In [8]:
#Unit 
unit_map = {'IT':0, 'Logistics':1, 'Quality':2, 'Human Resource Management':3,
       'Purchasing':4, 'Sales':5, 'Production':6, 'Operarions':7,
       'Accounting and Finance':8, 'Marketing':9, 'R&D':10, 'Security':11}

for data in dataset:
    data.Unit = data.Unit.map(unit_map)
    data.Unit = data.Unit.astype(int)

In [9]:
#Decision Skill Possess
decision_map = {'Conceptual':0, 'Analytical':1, 'Behavioral':2, 'Directive':3}

for data in dataset:
    data.Decision_skill_possess = data.Decision_skill_possess.map(decision_map)
    data.Decision_skill_possess = data.Decision_skill_possess.astype(int)

In [10]:
#Time of Service

for data in dataset:
    mean = train.Time_of_service.mean()
    std = train.Time_of_service.std()
    
    tos_count = data.Time_of_service.isnull().sum()
    rand_tos = np.random.randint(mean-std , mean+std , tos_count)
    
    tos_col = data.Time_of_service.copy()
    tos_col[np.isnan(tos_col)] = rand_tos
    
    data.Time_of_service = tos_col
    data.Time_of_service = data.Time_of_service.astype(int)

In [11]:
#Time Category

for data in dataset:
    data.loc[data.Time_of_service <= 8 , 'Time_of_service'] = 0
    data.loc[(data.Time_of_service > 8) & (data.Time_of_service <= 16) , 'Time_of_service'] = 1
    data.loc[(data.Time_of_service > 16) & (data.Time_of_service <= 24) , 'Time_of_service'] = 2
    data.loc[(data.Time_of_service > 24) & (data.Time_of_service <= 32) , 'Time_of_service'] = 3
    data.loc[data.Time_of_service > 32 , 'Time_of_service']=4
    data.Time_of_service = data.Time_of_service.astype(int)

In [12]:
#Pay Scale
train.Pay_Scale = train.Pay_Scale.fillna(6)
test.Pay_Scale = test.Pay_Scale.fillna(6)

In [13]:
#Pay SCale Category

for data in dataset:
    data.loc[data.Pay_Scale <= 3 , 'Pay_Scale']=0
    data.loc[(data.Pay_Scale > 3) & (data.Pay_Scale <= 7) , 'Pay_Scale']=1
    data.loc[(data.Pay_Scale > 7) & (data.Pay_Scale <= 10) , 'Pay_Scale']=2

In [14]:
for data in dataset:
    data.Pay_Scale = data.Pay_Scale.astype(int)

In [15]:
#Growth Rate

for data in dataset:
    data.loc[data.growth_rate <= 29 , 'growth_rate']=0
    data.loc[(data.growth_rate > 29) & (data.growth_rate <= 39) , 'growth_rate']=1
    data.loc[(data.growth_rate > 39) & (data.growth_rate <= 49) , 'growth_rate']=2
    data.loc[(data.growth_rate > 49) & (data.growth_rate <= 59) , 'growth_rate']=3
    data.loc[data.growth_rate > 59 , 'growth_rate']=4

In [16]:
for data in dataset:
    data.growth_rate = data.growth_rate.astype(int)

In [17]:
#Compensation and Benefits

compen_map = {'type2':0, 'type3':1, 'type0':2, 'type4':3, 'type1':4}
for data in dataset:
    data.Compensation_and_Benefits = data.Compensation_and_Benefits.map(compen_map)
    data.Compensation_and_Benefits = data.Compensation_and_Benefits.astype(int)

In [18]:
#Work Life Balance

for data in dataset:
    data.Work_Life_balance = data.Work_Life_balance.fillna(2)
    data.Work_Life_balance = data.Work_Life_balance.astype(int)

In [19]:
#VAR2
for data in dataset:
    data.VAR2 = data.VAR2.fillna(0.7516)

In [20]:
#VAR2 , VAR3
for data in dataset:
    data.VAR2 = round(data.VAR2)
    data.VAR3 = round(data.VAR3)
    data.VAR2 = data.VAR2.astype(int)
    data.VAR3 = data.VAR3.astype(int)

In [21]:
for data in dataset:
    data.VAR4 = data.VAR4.fillna(2)
    data.VAR4 = data.VAR4.astype(int)

In [22]:
train_out = train.Attrition_rate

In [23]:
train = train.drop(['Employee_ID' , 'Attrition_rate'] , axis=1)

In [24]:
cat_col = train.columns.values

In [25]:
for i in cat_col:
    print( i , train[i].unique())

Gender [0 1]
Age [2 0 4 1 3]
Education_Level [4 3 1 5 2]
Relationship_Status [1 0]
Hometown [0 1 2 3 4]
Unit [ 0  1  2  3  4  5  6  7  8  9 10 11]
Decision_skill_possess [0 1 2 3]
Time_of_service [0 3 2 4 1]
Time_since_promotion [4 3 1 0 2]
growth_rate [1 3 4 0 2]
Travel_Rate [1 0 2]
Post_Level [1 3 2 5 4]
Pay_Scale [1 2 0]
Compensation_and_Benefits [0 1 2 3 4]
Work_Life_balance [3 4 1 2 5]
VAR1 [4 3 1 2 5]
VAR2 [ 1 -1 -2  0  2]
VAR3 [ 2  0  1 -2 -3]
VAR4 [2 3 1]
VAR5 [4 3 2 5 1]
VAR6 [5 8 7 9 6]
VAR7 [3 2 4 5 1]

In [26]:
for i in cat_col:
    print(i , test[i].unique())

Gender [0 1]
Age [1 4 3 2 0]
Education_Level [5 2 3 4 1]
Relationship_Status [0 1]
Hometown [1 3 4 0 2]
Unit [10  0  5  9  4  7  3  1  8 11  2  6]
Decision_skill_possess [0 3 1 2]
Time_of_service [0 4 2 1 3]
Time_since_promotion [4 2 3 1 0]
growth_rate [1 4 0 2 3]
Travel_Rate [1 0 2]
Post_Level [5 1 3 4 2]
Pay_Scale [1 0 2]
Compensation_and_Benefits [0 1 2 3 4]
Work_Life_balance [1 4 3 5 2]
VAR1 [3 4 2 1 5]
VAR2 [-1  0  2  1 -2]
VAR3 [ 0  1  2 -2 -3]
VAR4 [2 1 3]
VAR5 [1 2 3 4 5]
VAR6 [8 9 7 5 6]
VAR7 [4 2 3 5 1]

In [27]:
e_id = test.Employee_ID

In [28]:
test = test.drop('Employee_ID',axis=1)

In [29]:
train.shape

(7000, 22)

In [30]:
test.shape

(3000, 22)

In [31]:
max_train = train.max()
max_train

train = train / max_train
train

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,0.0,0.50,0.8,1.0,0.00,0.000000,0.000000,0.00,1.00,0.25,...,0.5,0.00,0.6,0.8,0.5,1.0,0.666667,0.8,0.555556,0.6
1,1.0,0.00,0.6,0.0,0.25,0.090909,0.333333,0.00,1.00,0.25,...,0.5,0.00,0.8,0.6,-0.5,0.0,0.666667,0.6,0.555556,0.6
2,0.0,1.00,0.6,1.0,0.50,0.181818,0.000000,0.75,0.75,0.75,...,1.0,0.00,0.2,0.8,-0.5,0.0,1.000000,0.6,0.888889,0.6
3,0.0,0.25,0.6,0.0,0.75,0.272727,0.666667,0.00,0.75,0.75,...,1.0,0.00,0.2,0.6,-1.0,0.0,0.666667,0.6,0.777778,0.6
4,0.0,0.25,0.2,1.0,0.25,0.090909,0.000000,0.00,1.00,1.00,...,0.0,0.25,0.6,0.2,0.5,0.0,0.666667,0.4,0.888889,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,0.0,0.00,1.0,1.0,0.00,0.636364,0.666667,0.00,0.25,0.00,...,0.5,0.25,0.6,0.2,0.5,0.0,0.666667,0.6,0.777778,0.6
6996,0.0,0.50,0.2,1.0,0.75,0.909091,0.333333,0.25,0.50,0.75,...,0.5,0.25,0.6,0.4,0.0,-1.5,0.666667,0.8,0.888889,0.8
6997,0.0,0.75,0.6,0.0,0.25,0.000000,1.000000,0.25,0.25,0.75,...,0.0,0.00,0.8,0.4,0.0,0.0,0.666667,0.8,0.888889,0.6
6998,0.0,0.75,0.6,1.0,1.00,0.454545,0.666667,0.50,0.25,0.00,...,1.0,0.50,0.4,0.8,0.5,1.0,0.666667,0.6,0.666667,0.6
6999,0.0,1.00,0.6,1.0,0.00,0.000000,1.000000,0.50,0.50,1.00,...,0.5,0.00,0.6,0.6,0.0,-1.0,1.000000,0.8,0.555556,0.6

In [32]:
test = test / max_train
test

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,0.0,0.25,1.0,0.0,0.25,0.909091,0.000000,0.00,1.00,0.25,...,0.5,0.00,0.2,0.6,-0.5,0.0,0.666667,0.2,0.888889,0.8
1,1.0,1.00,0.4,0.0,0.75,0.000000,1.000000,1.00,0.50,1.00,...,0.0,0.00,0.2,0.8,-0.5,0.5,0.333333,0.4,0.888889,0.4
2,1.0,0.75,0.6,1.0,0.25,0.454545,1.000000,0.50,0.75,0.00,...,1.0,0.25,0.2,0.8,0.0,0.5,0.666667,0.2,1.000000,0.6
3,1.0,0.75,1.0,0.0,1.00,0.818182,0.333333,0.25,1.00,0.00,...,0.0,0.50,0.8,0.6,0.0,0.5,0.666667,0.4,0.888889,0.6
4,0.0,0.50,0.6,1.0,0.00,0.909091,0.000000,0.25,1.00,0.50,...,0.0,0.00,0.8,0.8,1.0,0.5,0.666667,0.4,0.777778,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.0,0.25,0.6,0.0,0.00,0.454545,1.000000,0.00,0.75,0.25,...,0.5,0.00,0.4,0.2,0.0,0.5,0.333333,0.8,0.777778,0.8
2996,0.0,0.75,0.4,0.0,0.00,0.818182,0.000000,0.25,0.50,0.75,...,1.0,0.00,0.2,0.6,0.5,0.5,1.000000,0.8,0.888889,0.6
2997,0.0,1.00,0.8,0.0,0.75,0.090909,0.333333,1.00,0.25,1.00,...,1.0,0.25,0.6,0.6,-1.0,0.0,0.666667,0.8,0.888889,0.8
2998,0.0,0.75,0.2,1.0,0.25,0.000000,0.666667,0.50,0.25,0.25,...,0.5,0.25,0.2,1.0,0.5,0.0,0.666667,0.6,1.000000,0.4
2999,0.0,0.50,0.2,0.0,0.00,0.454545,1.000000,0.25,1.00,1.00,...,1.0,0.75,0.8,0.6,0.5,0.0,0.666667,0.4,0.888889,1.0

In [33]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(train , train_out , test_size=0.2 , random_state=42)

In [34]:
print(train_data.shape , test_data.shape , train_label.shape , test_label.shape)

(5600, 22) (1400, 22) (5600,) (1400,)

In [35]:
#Lets build ML model
import tensorflow  as tf
from tensorflow.keras import layers
from tensorflow.keras.models import Model

In [36]:
inp = layers.Input(shape=(22,))

x = layers.Dense(11 , activation='relu')(inp)
x = layers.Dense(5 , activation='relu')(x)

out = layers.Dense(1 , activation='relu')(x)

model = Model(inp ,out)

In [37]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 22)]              0
_________________________________________________________________
dense (Dense)                (None, 11)                253
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 60
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 319
Trainable params: 319
Non-trainable params: 0
_________________________________________________________________

In [38]:
model.compile(loss='mean_squared_error' , optimizer='sgd')

In [51]:
model.fit(train_data , train_label , epochs=5 , verbose=1 , validation_data=(test_data , test_label))

Train on 5600 samples, validate on 1400 samples
Epoch 1/5
5600/5600 [==============================] - 1s 120us/sample - loss: 0.0348 - val_loss: 0.0354
Epoch 2/5
5600/5600 [==============================] - 0s 70us/sample - loss: 0.0348 - val_loss: 0.0354
Epoch 3/5
5600/5600 [==============================] - 0s 72us/sample - loss: 0.0348 - val_loss: 0.0354
Epoch 4/5
5600/5600 [==============================] - 0s 71us/sample - loss: 0.0348 - val_loss: 0.0354
Epoch 5/5
5600/5600 [==============================] - 0s 69us/sample - loss: 0.0348 - val_loss: 0.0354

In [52]:
test_out = model.predict(test)
test_out = test_out.reshape(test_out.shape[0])

out_df = pd.DataFrame({'Employee_ID':e_id , 'Attrition_rate':test_out})
out_df.to_csv("out_file.csv",index=False)